
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ГЛАВНАЯ СТРАНИЦА</h1>
    <ul>
        @using (Html.BeginForm("Query1", "Home"))
        {
            <li>
                Выбрать учителей у коротых период работы
                с <input type="text" name="queryText1" style="height: 30px; width: 100px" />
                по <input type="text" name="queryText2" style="height: 30px; width: 100px" />
                <input type="submit" value="Выполнить" class="btn btn-default" />
            </li>
        }

        @using (Html.BeginForm("Query2", "Home"))
        {
            <li>
                Выбрать класс по учителю
                <select name="queryText">
                    @foreach (var item in ViewBag.teacherList)
                    {
                        <option value="@item.Text">@item.Text</option>
                    }
                </select>
                <input type="submit" value="Выполнить" class="btn btn-default" />
            </li>
        }
        @using (Html.BeginForm("Query3", "Home"))
        {
            <li>
                Выбрать учителей по предмету
                <select name="queryText">
                    @foreach (var item in ViewBag.subjectList)
                    {
                        <option value="@item.Text">@item.Text</option>
                    }
                </select>
                <input type="submit" value="Выполнить" class="btn btn-default" />
            </li>
        }

        @using (Html.BeginForm("Query5", "Home"))
        {
            <li>
                Поиск по ученикам
                <input type="text" name="queryText1" style="height: 30px; width: 100px" />
                <input type="submit" value="Выполнить" class="btn btn-default" />
            </li>
        }

        @using (Html.BeginForm("Query4", "Home"))
        {
            <li>
                Поиск предмета
                <input type="text" name="queryText1" style="height: 30px; width: 100px" />
                <input type="submit" value="Выполнить" class="btn btn-default" />
            </li>
        }
    </ul>
</div>